<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PulseApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 150px;
            color: #333;
            background-color: #f4f4f4;
        }

        .navbar {
            background-color: #e93d3d;
        }

        .navbar-brand img {
            height: 50px;
        }

        .navbar-nav .nav-link {
            color: #fff4f4;
            font-size: 25px; /* Veličina fonta */
        }

            .navbar-nav .nav-link:hover {
                color: #ffffff;
            }

        .container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" href="/" style="position: relative;">
                <img src="~/Logo.png.png" alt="PulseApp Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: #fff4f4;"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Pulse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About">Information</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody() 
        <div id="warningMessage" class="warning"></div>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
  
</body>
</html>
